:root {
    --darker: #0B0B09;
    --beige: #D29D81;
    --shadow-btn: 0 15px 30px 0 rgba(0, 0, 0, 0.34);
}

html,
body {
    animation: fadein 0.5s;
    -moz-animation: fadein 0.5s;
    -webkit-animation: fadein 0.5s;
    -o-animation: fadein 0.5s;
    background: #0B0B09;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@import url("https://use.typekit.net/nyd5qdd.css");

h1,
h2,
h3,
h4,
h5,
h6,
a {
    /*    font-family: 'Alte-DIN-1451-Mittelschrift', sans-serif;*/
    font-family: "din-2014", sans-serif;
    letter-spacing: 2px;
}

.container {
    max-width: 1069px;
    /* previous was 960px CS, June 26, 2018*/
}

/*
 * Custom translucent site header
 */

.site-header {
    background-color: rgba(0, 0, 0, .9);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
    font-size: 0.8rem;
    line-height: 1.8rem;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

.site-header a.active {
    color: #fff;
}

.sub-menu a {
    margin: 0 1.69rem;
}

.sub-menu a p {
    padding-bottom: 1rem;
    border-bottom: 6px solid transparent;
    transition: 0.25s all ease-out;
}

.sub-menu a:hover p {
    color: var(--darker);
    border-bottom: 6px solid var(--darker);
}

.sub-menu a.active p {
    color: var(--darker);
    border-bottom: 6px solid var(--darker);
}

.sub-menu.sub-menu__2 a {
    margin: 0 1.2rem;
}


/*
 * Extra utilities
 */

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.flex-equal > * {
    -ms-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        flex: 1;
    }
}

.overflow-hidden {
    overflow: hidden;
}

.nav-logo {
    height: 32px;
}

nav.sub-menu {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 100px;
    background-color: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    z-index: 900;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.nav-img {
    height: 80px;
}

nav.sub-menu p {
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 16px;
}

nav.sub-menu a:hover {
    color: #000;
}


.img-jumbotron {
    position: absolute;
    right: 0;
    top: -69px;
    z-index: 0;
    object-fit: cover;
    height: 100vh;
    width: 100%;
    filter: brightness(1) contrast(0.9)
}


.btn {
    padding: 0.375rem 2rem;
    font-size: 0.9rem;
    line-height: 2.4;
    border-radius: 3.6rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.jumbotron-specs {
    z-index: 1;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-style {
    object-fit: cover;
    height: 260px;
}


.btn-shadow {
    box-shadow: var(--shadow-btn)
}

.video-section {
    background-color: #E3E3E0;
    background-image: url('../img/logomark-solii.svg');
    background-repeat: no-repeat;
    background-position: 120% 50%;
    background-size: 420px;
}


.video-shadow {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.bg-darker {
    background-color: var(--darker);
}

.darker {
    color: var(--darker) !important;
}

.bg-beige {
    background-color: var(--beige);
}

.beige {
    color: var(--beige) !important;
}

.search-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .9);
}

.search-box .container {
    background-color: #111;
}

.search-box .form-control {
    width: 100%;
    height: 64px;
    padding: 1.3rem 2rem;
    font-size: 1rem;
    line-height: 1.5;
    color: transparent;
    background-color: #111;
    background-clip: inherit;
    border: 0px solid transparent;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search-box .form-control:focus {
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    caret-color: #fff;
}

small a {
    color: rgba(255, 255, 255, 0.5);
}

small a:hover {
    color: rgba(255, 255, 255, 0.7);
}

a.close-search {
    display: block;
    position: absolute;
    right: 0;
    top: 8px;
    color: #fff !important;
    background-color: transparent;
    border: 0 width:auto;
    height: auto;
    z-index: 1000;
    padding-top: 12px;
}

.scrollmenu {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

footer a {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
}

.modal-classic .modal-header,
.modal-modern .modal-header {
    border-bottom: 1px solid transparent;
}

.modal-classic .modal-footer,
.modal-modern .modal-footer {
    border-top: 1px solid transparent;
}


/* typehead css */

.typeahead,
.tt-query,
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 1.47rem 2rem;
    font-size: 24px;
    line-height: 30px;
    border: 0 solid transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    outline: none;
    caret-color: transparent;

}


.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 0px solid transparent;
    color: #fff;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {
    width: 50vw;
    margin-left: -15px;
    padding: 0;
    background-color: #fff;
    border: 0 solid #ccc;
    border: 0 solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

@media (max-width:991px) {
    .tt-menu {
        width: 100vw;
    }
    .sub-menu a:last-child {
        padding-right: 3rem;
    }
}

.tt-suggestion {
    padding: 20px;
    font-size: 1rem;
    line-height: 24px;
    margin: 0;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: var(--darker);
    background-color: #e8e8e8;
}

.tt-suggestion.tt-cursor {
    color: var(--darker);
    background-color: #e8e8e8;
}

a.tt-suggestion {
    color: var(--dark);
    padding: 20px;
    display: block;
}

a.tt-suggestion:hover {
    color: var(--dark);
}


.scrim {
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3;
}

.empty-message {
    padding: 1rem;
}

.empty-message p {
    margin: 0;
}

.product-jumbotron {
    height: 369px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.about-jumbotron {
    height: 369px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: var(--darker);
    background-color: #fff;
    border-color: transparent transparent var(--darker);
    border-bottom: 4px solid var(--darker);
}

.nav-tabs .nav-link {
    color: var(--dark);
    border: 0 solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 1rem;
}

.download-links li a {
    padding: 1rem;
    background-color: #e5e5e5;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    color: var(--darker);
    line-height: 1rem;
}

.get-a-quote {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 72px;
    z-index: 4;
    background-color: #fff;
    box-shadow: 0 -6px 10px 0 rgba(0, 0, 0, 0.12);
}

.get-a-quote .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

@media (min-width:768px) {
    .product-img {
        position: -webkit-sticky;
        position: sticky;
        top: 80px;
        height: 69vh;
    }
    .product-info .nav-tabs {
        position: -webkit-sticky;
        position: sticky;
        top: 64px;
        background-color: #fff;
        z-index: 3;
    }
    .intro h1 {
        font-size: 3.5rem;
        font-weight: 300;
        line-height: 1.2;
    }

}

.certification-logo {
    height: 40px;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

.manufacturer-logo {
    width:
}

form label {
    font-weight: bold;
}

.img-manufacturers {
    object-fit: fill;
    width: 100%;
    height: 320px;
}

.high-card {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.04), 0 15px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #f5f5f5;
    transition: .25s all ease-in-out;
    margin-top: -100px;
}

@media (max-width:767px) {
    .high-card {
        margin-top: 0;
    }
}

.high-card:hover {
    transform: translateY(-5px);
}

.mini-flag {
    height: 1rem;
    margin-right: 10px;
    margin-bottom: 5px;
}

.content-area,
.classic-vs-modern,
.made-in-canada,
.featurette-1,
.featurette-2 {
    background-color: #fff;
}

.content-area h1::after {
    content: "";
    display: block;
    width: 160px;
    height: 3px;
    background-color: #222;
    margin: 20px 0;
}

.content-area h2::after,
.content-area h3::after {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background-color: #333;
    margin: 15px 0;
}

.blog-header h2 {
    color: #888;
}

.blog-header a {
    text-decoration: none;
}

.blog-header h2::after,
.blog-header h3::after {
    content: "";
    display: none;
}

.blog-jumbotron {
    height: 569px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.blog p,
.blog li {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.64;
    letter-spacing: .02em;
    color: rgba(0, 0, 0, .79);
}

.blog a{
    color: #333;
    text-decoration: underline;
}

a.blog-nav {
    color: #333;
    text-decoration: none;
}


.blog h3 {
    margin-top: 50px;
    font-size: 2.2rem;
}

.blog h4 {
    color: #333;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 1.6rem;
    font-weight: bold;
}

.blog h5 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.blog img {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
}

.blockquote {
    border-left: 3px solid #333;
    padding-left: 30px;
    margin-left: -30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.blockquote p {
    font-weight: 100;
    font-style: italic;
}


@media (max-width:767px) {
    .blog-jumbotron {
        height: 369px;
    }

    .blockquote {
        border-left: 3px solid #333;
        padding-left: 20px;
        margin-left: 0px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

}

.logo-h1 {
    height: 2.5rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

.card-body a,
.card-body p {
    text-decoration: none;
    color: #222;
}

a.card-text {
    line-height: 1.4rem;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 300;
}
